XTerm.termName: xterm-256color

! ## Set font and fontsize ##
Xterm*renderFont: true
! XTerm*faceName: JetBrains Mono Nerd Font Mono
XTerm*faceName: CaskaydiaCove Nerd Font Mono
XTerm*faceSize: 14

! Remove internal border
XTerm*internalBorder: 0
XTerm*borderWidth: 0

! VT Font Menu: Unreadable
XTerm*faceSize1: 8
! VT Font Menu: Tiny
XTerm*faceSize2: 10
! VT Font Menu: Small
XTerm*faceSize3: 12
! VT Font Menu: Medium
XTerm*faceSize4: 16
! VT Font Menu: Large
XTerm*faceSize5: 22
! VT Font Menu: Huge
XTerm*faceSize6: 24

! ## Scrollbar ##
XTerm*vt100.scrollBar: false

XTerm*cursorBlink: false

! Do not scroll when there is new input
XTerm*scrollTtyOutput: false

! Scrolling by using Shift-PageUp / Shift-PageDown or mousewheel by default ##
! Lines of output you can scroll back over
XTerm*saveLines: 15000

! Enable copy/paste hotkeyes (mouse highlight = copy ,  shift+Insert = paste)
XTerm*selectToClipboard: true

! ## Select text ##
XTerm*highlightSelection: true
! Remove trailing spaces
XTerm*trimSelection: true

! ## Keybindings ##
XTerm*vt100.translations: #override \n\
  Ctrl <Key>-: smaller-vt-font() \n\
  Ctrl <Key>+: larger-vt-font() \n\
  Ctrl <Key>0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! XTerm*background: #1e1e1e
! XTerm*foreground: #d4d4d4

! Gruvbox Dark - XTerm

XTerm*background: #282828
XTerm*foreground: #ebdbb2
XTerm*cursorColor: #ebdbb2

! Normal colors
XTerm*color0:  #282828
XTerm*color1:  #cc241d
XTerm*color2:  #98971a
XTerm*color3:  #d79921
XTerm*color4:  #458588
XTerm*color5:  #b16286
XTerm*color6:  #689d6a
XTerm*color7:  #a89984

! Bright colors
XTerm*color8:  #928374
XTerm*color9:  #fb4934
XTerm*color10: #b8bb26
XTerm*color11: #fabd2f
XTerm*color12: #83a598
XTerm*color13: #d3869b
XTerm*color14: #8ec07c
XTerm*color15: #ebdbb2
